body{
    padding: 0px 45px;
    
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
   
}
header{
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 99;
   
}
.logo-input{
    display: flex;
}
.list{
    align-items: center;
    display: flex;
    gap: 10px;
}
#logo{

    width: 60px;
    height: 60px;
}
header input{

   padding-left: 10px;
   margin-left: 10px;
   width: 650px;
   height: 60px;
   border-radius:10px ;
   border-color: rgba(0, 0, 0, 0.534);
}
#flag{
    width: 60px;
    height: 60px;    
}
#shoping{
    width: 60px;
    height: 60px;
}
.list ul{
    display:flex;
    text-decoration:none;
    color: black;
    list-style-type: none;
}
ul li a,#flag,#shoping{
    
    font-size: 30px;
    color: black;
    text-decoration:none;
}
header ul div{
   width: 1px;
   height: 35px;
   background-color: #000000;
   margin: 0px 5px;
}
header h2{
   text-decoration-line:underline;
 }

.Accessoires ul {
    list-style-image: url('picturs/Short Sleeve Shirt.png');   
}
.Accessoires li {
    list-style-position: inside;
    border: 1px solid #eee;
    padding: 3px;
    width: 300px;
}
.list-pic{
    display: flex;
   
}
.list-pic #slier{
    margin-top: 15px;
    width:800px;
    height: 473px;
    
}

.groub2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: flex-start;
        
    }

    #a1{
        /* height: 500px; */
        background-color: #e2e6eb;
       display: flex;
       flex-direction: column;
       gap: 10px;

    }
    .prix {
      
        display: flex;
        align-items: center;
        gap: 5px;
     margin: 0;
    }
    .prix #prix {
       font-size: 30px;
     margin: 0;
      
    }
    .prix div {
        font-size: 20px;
        text-decoration: line-through;
      
     }
     .sold{
        
        display: flex;
        gap: 5px;
     }
     .sold button{
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 80px;
        height: 30px;
        border-radius: 50px;
        background-color: #c9bf08;
        font-size: 15px;
        justify-content:space-between;
     }
     .sold button div{
        position: relative;
        top: 5px;
     }
     .sold button #star{
        position: relative;
        bottom: 2px;
     }
     .sold #a{
        width: 1px;
        height: 25px;
        background-color: #000000;
         margin: 0px 5px;
         position: relative;
         top: 2px;
     }
     .sold #sold{
        position: relative;
        top: 5px;
     }
      #imag{
        text-align:end ;
        width: 30px;
        height: 30px;
        border: 1px solid #c9bf08;
        background-color:#c9bf08 ;
        border-radius: 100%;

     }

     .prodouitfooter{
   
        display: flex;
        gap: 5px;
        justify-content:space-between;
       
     }
  #a1 p{
    margin: 0;
  }
     
  .groub1{
    margin: 0 20px;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap: 20px;
    justify-content:flex-start;
    overflow: scroll;     
    }
 
   .groub1::-webkit-scrollbar {
    display: none;
}
#g1{
    border: 1px solid none;
    background-color: rgb(226, 230, 235);
    min-width: 400px;
   
}
#g2{
    border: 1px solid none;
    background-color:rgb(226, 230, 235);
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #334155;
    width: 100%;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content:center;
    gap: 86px;
    padding: 10px;
    
}
footer ul li a{
    color: #fff;
}
footer p{
    color: #fff;
    text-align: center;
   padding-bottom: 40px;

}
  
  