/* 
  animation-name:
  animation-duration:
  animation-delay:
  animation-timing-function: linear;
  animation-iteration-count:
  animation-fill-mode: 
  animation-direction: reverse;
  animation-timing-function:cubic-bezier(1,1,0.5,0.5);
  animation-play-state: ran; */
div {
  background-color: rgb(4, 243, 64);
  width: 100px;
  po4
  height: 100px;
  animation-name: mb; 
  animation-duration: 10s;
  /* animation-delay: -5s; */
}
@keyframes mb{
  0% { left: 0; top: 0;}
  25% { left: 100px; top: 0px;}
  50% { left: 100px; top: 100px;}
  75% { left: 0; top: 100px;}
  100% { left: 0; top: 0;}
}